html{
    font-family: Helvetica, sans-serif;
}
body{
margin: 0;
padding: 0;

}


/*Banner*/
.banner{
    width: 100%;
    height: 600px;
    background-image: url('../img/capa2.jpg');
    background-position: center;
    position: relative;

}
.box-container{
width: 400px;
height: 250px;
text-align: center;
position: absolute;
right: 100px;
bottom: 250px;

}


.box-background{

    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    position: relative;
}
.box-banner-title{

    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    color: #FFF;
    padding-top: 65px;

}

.box-banner-title h1{
font-size: 32px;
margin-bottom: 25px;

}

.box-banner-title p{

font-size: 20px;
}

.outra{
    color: #04AA6D;
}
    

/*Menus*/

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #04AA6D;
  }

  /*Services*/
  
  .services-container{

    max-width: 1200px;
    padding: 30px 20px;
    padding-bottom: 0;
  }



  .service-box{

    width: 100%;
    position: relative;
    clear: both;
    height: 150px;
    margin-bottom: 30px;
  }

  

  .service-box:last{

    margin-bottom: 0;
  }

  .service-title{

    width: 20%;
    height: 150px;
    background-color: #ddd;
    float: left;
    padding: 20px;
    box-sizing: border-box;
  }

  .service-title p{
    padding-top: 25px;
    color: #FFF;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

  }

  .services-description{

    width: 80%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
  }

  .services-description h3{

    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .services-description p{

    font-size: 14px;
    line-height: 22px;
  }

  #gerenciamento-title{
    color: #2364aa;
   
  }

  #dev-title{
    color: #3da5d9;
    
  }

  #design-title{
   color: #73bfb8;
  }

  #gerenciamento-box{
    background-color: #2364aa;
    /*background-image: url('../img/capa2.jpg');*/
   
  }

  #dev-box{
    background-color: #3da5d9;
    
  }

  #design-box{
   background-color: #73bfb8;
  }